#container {
    width: 100%;
}
#left {
    float: left;
    width: 150px;
}
#right {
    float: right;
    width: 100px;
}
#center {
    margin: 0 auto;
    width: 50%;
}
#description, #input, #outputs, #buttons {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#buttons {
	margin-bottom: 20px;
	margin-top: 20px;
}
textarea {
	width: 100%;
}
